

li {
  color: chartreuse;
 }

 footer {
   color: darkorchid;
 }

 span {
   background-color: mediumseagreen;
 }

 h3 {
   color: purple;
 }

 h1 {
   outline-color: purple;
 }

 .titulo {
   background-color: lightskyblue;
 }
